@import "vars";


.t-form {
  margin-top: 19px;

  label {
    width: 100%;
    padding-left: 6px;
  }

  input, textarea {
    border-radius: 6px;
    width: 100%;
    background: $secondaryColor;
    border: 0;
    padding: 10px 18px;
    color: $textColor;

    &:focus {
      outline: 1px solid $accentColor;
    }
  }
}

.radio-group {
  input, label {
    width: auto;
    display: inline;
  }

  input {
    display: none;
  }

  label {
    margin: 4px 0;
    display: flex;
    height: 64px;
    width: 80px;
    line-height: 64px;
    justify-content: center;
    font-size: 20px;
    padding: 0;
    background: $secondaryColor;
    border: 2px solid $accentColor;
    border-radius: 16px;

    &:hover {
      background: $secondaryColor * 1.5;
      cursor: pointer;
      user-select: none;
    }
  }

  input:checked ~ label {
    background: $accentColor;
  }
}

::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator {
  color: $accentColor;

  &:hover {
    background: $bgColor;
    cursor: pointer;
  }
}
