@import "vars";


.t-form {
  margin-top: 19px;

  label {
    width: 100%;
    padding-left: 6px;
  }

  input, textarea {
    border-radius: 6px;
    width: 100%;
    background: $secondaryColor;
    border: 0;
    padding: 10px 18px;
    color: $textColor;

    &:focus {
      outline: 1px solid $accentColor;
    }
  }
}

.radio-group {
  input, label {
    width: auto;
    display: inline;
  }
}

::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator {
  color: $accentColor;

  &:hover {
    background: $bgColor;
    cursor: pointer;
  }
}
