.t-container {
  position: relative;
  height: 256px;
  line-height: 256px;
  font-size: 30px;
  font-weight: bold; }
  .t-container .t-filler {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0.3; }

.t-info-segment {
  background: #1a1a1d;
  padding: 80px 28px 30px 28px; }

.img-2 img {
  width: 256px;
  height: 256px; }
