@import "vars";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap&subset=cyrillic,cyrillic-ext');

html > body {
  background: $bgColor;
  color: $textColor;
  font-family: 'Open Sans', sans-serif;
}


@mixin button {
  transition: all .2s;
  border: 0;
  padding: 8px 16px;
  background: #303030;
  color: white;
  border-radius: 4px;

  &:disabled {
    background: #7a7a7a;
    color: #b9b9b9;

    &:hover {
      background: #7a7a7a;
      color: #b9b9b9;
    }
  }
}

.t-btn {
  @include button;
}

.t-btn-primary {
  @include button;
  background: $accentColor;

  &:hover {
    background: $accentColor / 1.5;
  }
}
