.pagination {
  margin-top: 15px;
  margin-bottom: 15px; }
  .pagination a {
    border-radius: 8px;
    margin: 0 6px;
    background: #1a1a1d;
    color: white;
    width: 40px;
    font-size: 1.4em;
    padding: 3px;
    text-align: center; }
    .pagination a:first-child, .pagination a:last-child {
      width: 100px; }
    .pagination a:hover {
      background: #aa4d18; }
  .pagination .active {
    background: #ff7324;
    color: white; }
    .pagination .active:hover {
      background: #ff7324; }
