@import "vars";




.tournament {
  margin: 6px 30px;
  background: $secondaryColor;
}


.grid-wrapper {
  margin-top: 22px;
  padding-top: 18px;
  background-image: linear-gradient(to left bottom, #000000, #110e0f, #1c1818, #27201f, #312926, #312926, #312926, #312926, #27201f, #1c1818, #110e0f, #000000);
}
@media all and (max-width: 568px){
  .tournament {
    margin: 6px 0;
  }
}


.actions-bar {
  background: #272727;
}
